.overlay {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-pref-width: 320;
    -fx-pref-height: 480;
}
.overlay Label {
  -fx-font-size: 22;
}
.overlay VBox Label {
  -fx-font-size: 18;
}
.overlay VBox HBox Label {
  -fx-font-size: 15;
}
.overlay VBox TextField {
  -fx-pref-width: 180;
}